* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #30343B;
    color: #CECECE;
}
.obj {
    padding: 100px;
    background-color: #FFCA06;
    color: #454042;
}
.right-pad{
    padding-right: 25px;;
}
.left-pad{
    padding-left: 25px;;
}
.obj h1{
    font-size: 80px;
}
.body-container{
    padding: 100px;
}
.body-container h3{
    letter-spacing: 3px;
    font-size: 30px;
    color: #FFFF;
}
.body-container hr {
    margin: 20px 0;
    border-color: #54575c;
    height: 5px;
}
.body-container a {
    text-decoration: none;
    color: #dbdbdb;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon-box-small {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.education{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.title{
    color: #FFCA06;
}
.education-content p{
    margin-bottom: 0px;
}
.contact{
    margin-top: 50px;
}
.icon-box-small {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.contact .icon-box-small {
    border-radius: 50%;
    background: #FFCA06;
    color: #454042;
}
.experience {
    position: relative;
    margin-bottom: 50px;
}
h4 {
    color: #FFCA06;
    white-space: nowrap;
}
h5 {
    color: #fff;
    font-size: 18px;
}
.date {
    position: absolute;
    right: 0;
    top: 0;
}
.skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #cecece;
}
.skill-progress-cover {
    position: relative;
    width: 60%;
    border: 2px solid #FFCA06;
    border-radius: 10px;
    height: 15px;
}
.skills{
    margin-top: 50px;
}
#photoshop {
    width: 85%;
}
#illustrator {
    width: 85%;
}
#xd {
    width: 60%;
}
#figma {
    width: 60%;
}
#autocad {
    width: 70%;
}
#smax{
    width: 70%;
}
#htm{
    width: 70%;
}
#css{
    width: 70%;
}
#botstrap{
    width: 70%;
}
#git{
    width: 40%;
}
#photoshop, #illustrator, #xd, #figma, #autocad, #smax, #htm, #css, #botstrap, #git {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #FFCA06;
    border-radius: 10px 0 0 10px;
}
.fab{
    color: #FFCA06;
}


@media(max-width:560px) {
    .interests-languages {
        grid-template-columns: 1fr;
    }
    .education {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-details,
    .body-container,
    .main-skill-container,.obj {
        padding: 20px;
    }
    .obj h1{
        font-size: 35px;
        font-weight: bold;
    }
    #languages,
    #contact {
        margin-top: 30px;
    }
    .main-skill-container .icon-box {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .side-section {
        grid-gap: 0;
    }
}